/* tailwindcss */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* el-alert */
.el-alert {
  border: 1px solid;
}

/* el-button */
.el-button + .el-button {
  margin-left: 10px;
}

/* el-dialog */
.el-dialog {
  padding: 0;
  .el-dialog__header {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid var(--el-border-color-lighter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .el-dialog__title {
      font-size: 16px;
      line-height: 1;
    }
    .el-dialog__headerbtn {
      position: static;
      width: 20px;
      height: 20px;
      font-size: 20px;
      display: flex;
    }
  }
  .el-dialog__body {
    padding: 0;
  }
  .el-dialog__footer {
    border-top: 1px solid var(--el-border-color-lighter);
    padding: 10px;
    text-align: left;
  }
}

/* el-drawer */
.el-drawer {
  .el-drawer__header {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid var(--el-border-color-lighter);
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      line-height: 1;
    }
  }
  .el-drawer__body {
    padding: 0;
  }
  .el-drawer__footer {
    border-top: 1px solid var(--el-border-color-lighter);
    padding: 10px;
  }
}

/* el-form */
.el-form-item {
  margin-bottom: 20px;
  .el-form-item__label {
    padding-right: 10px;
  }
  .el-form-item__error {
    padding: 4px 0;
  }
}

/* el-message el-notification */
.el-message,
.el-notification {
  z-index: 2070 !important;
}

/* el-message-box */
.el-message-box {
  border: 0;
  padding: 0;
  .el-message-box__header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .el-message-box__title span {
      font-size: 16px;
      line-height: 1;
    }
    .el-message-box__headerbtn {
      position: static;
      width: 20px;
      height: 20px;
      font-size: 20px;
      display: flex;
    }
  }
  .el-message-box__content {
    padding: 20px;
  }
  .el-message-box__btns {
    padding: 10px;
  }
}

/* el-table */
.el-table--small {
  .el-table__header th {
    height: 40px !important;
    font-size: 14px !important;
  }
  .el-table__row {
    height: 40px !important;
    font-size: 13px !important;
  }
}
.el-table--large {
  .el-table__header th {
    height: 50px !important;
    font-size: 16px !important;
  }
  .el-table__row {
    height: 50px !important;
    font-size: 15px !important;
  }
}

/* el-tabs */
.el-tabs {
  .el-tabs__header.is-top {
    margin-bottom: 0;
  }
  .el-tabs__header.is-left {
    margin-right: 0;
  }
  .el-tabs__nav-wrap::after {
    height: 1px;
  }
}
