// table-search 表格搜索样式
.table-search {
  padding: 20px 20px 0;
  margin-bottom: 10px;

  :deep(.el-form) {
    .el-form-item__content > * {
      width: 100%;
    }
    .el-range-editor.el-input__wrapper {
      padding: 0 10px; // 去除时间选择器上下 padding
    }
  }

  :deep(.operation) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.table-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20px;

  // 表格 header 样式
  .table-header {
    .header-button-lf {
      float: left;
    }
    .header-button-ri {
      float: right;
    }
    .el-button {
      margin-bottom: 10px;
    }
  }

  // el-table 表格样式
  :deep(.el-table) {
    flex: 1;

    // 修复 safari 浏览器表格错位
    table {
      width: 100%;
    }
    .el-table__header th {
      height: 45px;
      font-size: 15px;
      font-weight: bold;
      color: var(--el-text-color-primary);
      background: var(--el-fill-color-light);
    }
    .el-table__row {
      height: 45px;
      font-size: 14px;
      .move {
        cursor: move;
        .el-icon {
          cursor: move;
        }
      }
    }

    // 设置 el-table 中 header 文字不换行，并省略
    .el-table__header .el-table__cell > .cell {
      // white-space: nowrap;
      white-space: wrap;
    }

    // 解决表格数据为空时样式不居中问题(仅在element-plus中)
    .el-table__empty-block {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .table-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    // table 中 image 图片样式
    .table-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
}
